[submodule "drawio/drawio-nn-templates"]
	path = drawio/drawio-nn-templates
	url = https://github.com/WangX0111/drawio-nn-templates
[submodule "drawio/NN-Models-drawio-library"]
	path = drawio/NN-Models-drawio-library
	url = https://github.com/HuanPP/NN-Models-drawio-library
[submodule "drawio/Neural-Network-Architecture-Diagrams"]
	path = drawio/Neural-Network-Architecture-Diagrams
	url = https://github.com/kennethleungty/Neural-Network-Architecture-Diagrams
